<html>
<head>

  <style>
    .blue {
      color: blue;
    }

    .blueBack {
      background-color: blue;
    }


    .webimg{
      float:left;
      margin-right:10px;

    }

    .large {
      font-size: 100px;
    }

    .inline-block {
      display: inline-block;
    }

    .midd {
      color: midnightblue;
    }

    .medium {
      font-size: 40px;
    }


  </style>


</head>
<body style="background-color: lightgrey;">
{% extends "layout.html" %}

  {% block content %}
  <div class="large midd">
    CONTACT US
  </div>
  <div class="container">

  <div class="row">
    <div class="col-md-6">
      <span class="medium">
      Email
    </span>
    <br>
    <br>
    contact@middcraft.com
    </div>
    <div class="col-md-6">
      <span class="medium">
      Discord
    </span>
    <br>
    <br>
    <a href="https://discord.gg/9mMwtrq">https://discord.gg/9mMwtrq</a>
    </div>






  </div>
</div>
  {% endblock %}
</body>
</html>
