<html>
<head>

  <style>
    .blue {
      color: blue;
    }

    .blueBack {
      background-color: white;
    }


    .webimg{
      float:left;
      margin-right:10px;

    }

    .large {
      font-size: 60px;
    }

    .inline-block {
      display: inline-block;
    }

    .midd {
      color: midnightblue;
    }

    .center {
      text-align: center;
      padding: 30px;
    }
    
    .text-style {
      font-family: verdana, arial, helvetica;
      font-weight: bold;
    }


  </style>


</head>
<body style="background-color: white;">
{% extends "layout.html" %}

  {% block content %}
  <div class="large midd center text-style">
    FAQ
  </div>
  <div class="container">

  <div class="row">
    <div class="col-md-6">
      <b>
        What plugins/mods does MiddCraft use?
      </b>
      <br>
      <a href="https://enginehub.org/worldedit/">WorldEdit</a>
      <br>
      <a href="https://www.enginehub.org/worldguard/">WorldGuard</a>
      <br>
      <a href="https://www.spigotmc.org/resources/vault.34315/">Vault</a>
      <br>
      <a href="https://www.spigotmc.org/resources/coreprotect.8631/">CoreProtect</a>
      <br>
      <a href="https://luckperms.net/">LuckPermissions</a>
      <br>
      <a href="https://www.spigotmc.org/resources/chatex.71041/">ChatEx</a>
      <br>
      <a href="https://github.com/MiddCraft/PluginMC">MiddCraft Plugin (WIP)</a>
      <br>
      <br>
      <b>
        How do I sign up for a Minecraft Account?
      </b>
      <br>
      Head over to <a href="https://www.minecraft.net/en-us/">minecraft.org</a> and create an account. After you create an account, Mojang requires a one-time fee of $27 to download the app, and then you have minecraft for the rest of your life! If funding is a concern for you, please reach out to us and we will see what we can do. Making this server accessible to everyone is a top priority for us!

    </div>
    <div class="col-md-6">
      <b>
        How did MiddCraft create the base for its map?
      </b>
      <br>
      MiddCraft used open source Lidar data from the <a href="https://geodata.vermont.gov/">Vermont Geodata portal</a> and the WorldPainter app to create the base for its map.
      <br>
      <br>
      <b>
        What server host does MiddCraft use?
      </b>
      <br>
      The MiddCraft server is hosted on DigitalOcean.
      <br>
      <br>
      <b>
        How many players can MiddCraft support?
      </b>
      <br>
      MiddCraft can support up to 100 players on the server at a time.
      <br>
      <br>
      <b>
        What version of Minecraft does the server work for?
      </b>
      <br>
      MiddCraft can be played on Minecraft version 1.16.1
      <br>
      <br>
      <b>
        How do I donate to MiddCraft?
      </b>
      <br>
      You can make your donation <a href='http://www.middlebury.edu/giving'>here!</a>
      Just be sure to say that you want the donation to go to MiddCraft.
      <br>
      <br>
      <b>
        What does MiddCraft use the donations for?
      </b>
      <br>
      MiddCraft is starting to pool money from donors to create a system where everyone can enjoy MiddCraft,
      regardless of their financial situation. The donations will be used to pay for minecraft accounts.
      <br>
      <br>



    </div>

  </div>
</div>
  {% endblock %}
</body>
</html>
