<html>
<head>

  <style>
    .blue {
      color: blue;
    }

    .blueBack {
      background-color: blue;
    }


    img:hover {
    cursor: pointer;

    }

    .center {
      text-align: center;
    }

    .large {
      font-size: 60px;
    }

    .midd {
      color: midnightblue;
    }

    .medium {
      font-size: 30px;
    }

    .center {
      text-align: center;
      padding: 30px;
    }
    
    .text-style {
      font-family: verdana, arial, helvetica;
      font-weight: bold;
    }


  </style>


</head>
<body style="background-color: white;">
{% extends "layout.html" %}

  {% block content %}
  
  <div class="large midd center text-style">
    GET INVOLVED
  </div>
  <div class="container">
  
    <span class="row">
      <p>
    If you are a current or former student, or a faculty or staff member of Middlebury, you can register with us and join our growing community.
<br>
<br>
Click <a href="https://docs.google.com/forms/d/e/1FAIpQLScZ_6EKHimFvK860bejp5jyF3LxcQxOq0EtpP6rWDlJ4hspmg/viewform?usp=sf_link">this link</a> and fill out a google form with your minecraft username and Middlebury email or affiliation. Once we have received your form we will promote you to the appropriate <a href="rank">rank</a> as soon as we can. After your new rank has been assigned, the next time you log into the game you will be able to chat with other players and make changes to the world.
  </p>
  </span>
  </div>

  {% endblock %}
</body>
</html>
